<mat-toolbar #header color="primary" class="mat-elevation-z6 navBarContainer">
  <div>
    <span class="title">CropByte</span>
  </div>
  <div>
    <a routerLink="/home" mat-button class="home thing" #homeButton>Home</a>
    <a routerLink="../cart" mat-button class="cart thing" #cartButton>Cart</a>
    <a routerLink="../orders" mat-button class="myOrder thing" #myOrdersButton>MyOrders</a>
    <a (click)="logout()" mat-button color="warn" class="logout thing" #logoutButton>Logout</a>
  </div>
</mat-toolbar>
