.navBarContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.title {
  font-family: system-ui;
}
.thing {
  font-family: sans-serif;
  font-size: 20px;
}
.thing:hover {
  border-bottom: 1px solid rgb(26, 4, 4);
}
